body {
  align-items: center;
  background-color: black;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: url(/img/background.png) center/cover;
  margin: auto;
  border-radius: 20px;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 4px solid black;
  /* border-radius: 50%; */
  transition: all 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  background-color: white;
  /* height: 48px; */
  border: 5px solid black;
  font-size: 32px;
  text-align: center;
  border-radius: 10px;
  margin: 8px 0;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  width: 50px;
  height: 50px;
  font-size: 46px;
  background-color: salmon;
  border: 4px solid black;
  border-radius: 50%;
  text-align: center;
  color: white;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__field {
  /* background-color: gray; */
  width: 100%;
  height: 100%;
  /* opacity: 0.8; */
  margin-top: 40px;
  position: relative;
}

.pop-up {
  width: 400px;
  height: 120px;
  background-color: #00000090;
  /* opacity: 0.7; */
  color: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  transform: translateY(-200px);
  border-radius: 20px;
}
.pop-up__retry {
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  color: white;
  background-color: salmon;
  transition: all 300ms ease-in;
}

.pop-up__retry:hover {
  transform: scale(1.1);
}

.pop-up__message {
  color: white;
  font-size: 48px;
}

.pop-up--hide {
  display: none;
}

.bug,
.carrot {
  transition: transform 100ms ease;
}

.bug:hover,
.carrot:hover {
  transform: scale(1.1);
}
